{% extends 'base.html.twig' %}

{% block title 'Profile'%}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="text-center my-5">{{ 'profileEdit.title' |trans}}</h1>
            {{ form_start(userForm) }}
            {{ form_row(userForm.firstname) }}
            {{ form_row(userForm.lastname) }}
            {{ form_row(userForm.imageFile)}}
            <br>
            <p>
                <button type="submit" class="btn btn-primary">{{ 'profileEdit.btn' |trans}}</button>
            </p>
            {{ form_end(userForm)}}
        </div>
    </div>
{% endblock %}