{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class ="container">
        <div class="row">
            {% for video in videos %}
                {% if video.premiumVideo %}
                    {% if app.user and app.user.isVerified %}
                        <div class="card" style="width: 350px;">
                            <iframe width="300" height="200" src={{ video.videoLink }}></iframe>
                            <h2><a href={{ path('app_video_show', {id : video.id}) }}>{{ video.title |u.truncate(20,'...',true) }}</a></h2>
                            <p>{{ video.description |u.truncate(25, '...',true) }}</p>
                            <p>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                            <p> {{ video.user.firstname }} {{ video.user.lastname }}</p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="card" style="width: 350px;">
                        <iframe width="300" height="200" src={{ video.videoLink }}></iframe>
                        <h2><a href={{ path('app_video_show', {id : video.id}) }}>{{ video.title |u.truncate(20,'...',true) }}</a></h2>
                        <p>{{ video.description |u.truncate(25, '...',true) }}</p>
                        <p>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                        <p> {{ video.user.firstname }} {{ video.user.lastname }}</p>
                    </div>
                {% endif %}
            {% else %}
                <p> No videos found</p>
            {% endfor %}
        </div>
        <br>
        <div class="navigation d-flex justify-content-center mb-4" >
            {{ knp_pagination_render(videos) }}
        </div>
    </div>
    <a href={{ path('app_video_create') }}>Create new</a>
{% endblock %}
